doctype
html
    head
        block head
        script(src='/resources/ext-libs/jquery/jquery-3.3.1.min.js' type='text/javascript')
    body
        header
            img(id="clinic-logo" src="../resources/images/master/vet-clinic-logo.png" width="60" height="42")
            block header
        main
            <img id="menu-icon" src="../resources/images/master/menu-icon.png" width="45" height="45">
            block main
        footer
            block footer
