doctype
html
    head
        block head
        script(src='/resources/ext-libs/jquery/jquery-3.3.1.min.js' type='text/javascript')
    body
        header
            block header
        main
            block main
        footer
            block footer
