* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  height: 6vh;
  top: -6vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ececec;
}

#menu-icon {
  position: fixed;
  top: 2vh;
  right: 1vw;

  border-radius: 100%;
  -webkit-transition: background-color 0.3s linear;
}

#menu-icon:hover {
  cursor: pointer;
  background-color: #ececec;
  -webkit-transition: background-color 0.3s linear;
}

main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-area {
  height: 80vh;
  width: 60vw;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #ececec;
  box-shadow: 0 0 2px #000000a0;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 0 2px #00000070;
}

#user-area {
  width: 30%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user-img {
  width: 100%;
}

#user-info {
  border: 1px solid #1f1f1f60;
}

#user-info ul {
  list-style: none;
}

#user-info li {
  margin-left: 1vw;
  margin-bottom: 0.2vh;

  font-family: Calibri;
  font-weight: lighter;
}

#user-info li:first-child {
  font-size: 3.5vh;
}

#statistics {
  height: 30%;
  width: 100%;
  padding: 1vw;

  box-sizing: border-box;
}

.stat-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#statistics {
  font-family: Calibri;
}

#statistics h1 {
  font-weight: lighter;
  font-size: 22px;
}

.stat-good {
  height: 20px;
  width: 20px;

  border-radius: 100%;
  background-color: green;
}

.stat-ok {
  height: 20px;
  width: 20px;

  border-radius: 100%;
  background-color: yellow;
}

.stat-bad {
  height: 20px;
  width: 20px;

  border-radius: 100%;
  background-color: red;
}

#orders-info {
  width: 60%;
  height: 90%;

  display: flex;
  justify-content: center;
  overflow: auto;
}

#orders-info table {
  width: 85%;

  font-family: Calibri;
  font-weight: lighter;

  border-collapse: collapse;
}

#orders-info table tr {
  height: 5vh;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: border-color 0.3s linear;
}

#orders-info table tr:not(:first-child):hover {
  border-bottom: 1px solid crimson;
  -webkit-transition: border-color 0.3s linear;
}

#orders-info table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#orders-info th {
  color: #f9f9f9;
  font-weight: normal;

  background-color: #00b33c;
}

#orders-info td {
  font-weight: lighter;
  text-align: center;
}

.st-active {
  color: #00cf3c;
  -webkit-transition: color 0.3s linear;
}

.st-active:hover {
  color: crimson;
  -webkit-transition: color 0.3s linear;

  cursor: pointer;
}

.st-inactive {
  color: crimson;
  -webkit-transition: color 0.3s linear;
}

.st-inactive:hover {
  color: #00cf3c;
  -webkit-transition: color 0.3s linear;

  cursor: pointer;
}

#doctor-report-window {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  font-family: Calibri;

  background-color: #00000070;
}

#doctor-report-form {
  padding: 1%;
  width: 35vw;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  background-color: #2f2f2f;
}

#doctor-report-form #doctor-info-line {
  height: 15%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #454545;
}

#doctor-report-form #doctor-info-line * {
  margin: 1vw;
}

#doctor-report-form textarea {
  height: 60%;
  padding: 1vw;

  box-sizing: border-box;

  color: #fafafa;

  background-color: #454545;
  border: none;
}

#doctor-report-form textarea:focus {
  outline: none;
}
